@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #222;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    margin: 20% auto;
}

h1 {
    color: white;
    text-align: center;
    display: block;
    user-select: none;
    -webkit-user-select: none;
    transition: 3s;
}

h1:hover {
    color: yellow;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#roles-div {
    margin: 1em;
}

#roles-list {
    position: relative;
    display: inline-block;
    padding: 1em 2em;
    color: white;
    background-color: #555;
    border-radius: 10px;
    font-size: 1.2em;
    transition: 0.5s;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
}

#roles-div:nth-child(3n + 1) label #roles-checkbox:checked ~ span {
    color: white;
    background-color: hotpink;
    box-shadow: 0 2px 20px hotpink;
}

#roles-div:nth-child(3n + 2) label #roles-checkbox:checked ~ span {
    color: white;
    background-color: #00e397;
    box-shadow: 0 2px 20px #00e397;
}

#roles-div:nth-child(3n + 3) label #roles-checkbox:checked ~ span {
    color: white;
    background-color: #6947ff;
    box-shadow: 0 2px 20px #6947ff;
}